{%comment%}
Custom gift guide banner section
{%endcomment%}

<section class="custom-banner-hero" style="background-color: {{section.settings.bg_color}}; padding: {{section.settings.section_padding}}px 0;">
<div></div>
</section>

<style>
.custom-banner-hero {
  overflow: hidden;
}
</style>